mixin search(keyword)
    form(id="form-search")
        .input-group
            input(type="text", name="keyword", placeholder="Tìm kiếm sản phẩm" class="form-control" value=keyword)
        .input-gruop-append  
            button.btn.btn-primary(type="submit") Tìm kiếm